<!-- Header content, navigation links, etc. -->

<header>
    <h1>EventHub</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/models/event.js">Events</a></li>
            <li><a href="/views/register.ejs">Register</a></li>
            <li><a href="/views/login.ejs">Login</a></li>
            <li><a href="/views/about.ejs">About</a></li>
        </ul>
    </nav>
</header>
