<!-- Header content, navigation links, etc. -->

<header>
    <h1>EventHub</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="about">About</a></li>
                <li><a href="eventDetails">Events</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="createEvent">Create Event</a></li>
        </ul>
    </nav>
</header>
