<!-- Header content, navigation links, etc. -->


<header>
    
    <!-- Logo and Home Link -->
    <a href="/" class="logo">EventHub</a>
    <div class="search-container">
        <form action="/search">
          <input type="text" placeholder="Search events">
          <button type="submit">Submit</button>
        </form>
      </div>    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="eventDetails">Events</a></li>
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="createEvent">Create Event</a></li>
                <li><a href="weather">Weather</a></li>
        </ul>
    </nav>

    <!-- Authentication Buttons -->
    <div>
        <button class="header-button" onclick="location.href='/login'">Log In</button>
        <button class="header-button" onclick="location.href='/register'">Sign Up</button>
    </div>
</header>
