<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- createEvent.ejs -->

<!-- Include header and footer as needed -->
<%- include('partials/header') %>


    <main>
        <p>EventHub is your go-to platform for discovering and managing events in your local area. Whether you're looking to create your own events or explore what others have to offer, we've got you covered.</p>

        <h2>Key Features:</h2>
        <ul>
            <li>Seamless event discovery</li>
            <li>Secure user registration and login</li>
            <li>Create and personalize your own events</li>
            <li>Search for events based on location, date, and categories</li>
            <li>Integration with a publicly available events API for diverse event options</li>
        </ul>

        <p>EventHub is committed to providing a user-friendly and enriching experience for event enthusiasts. Join us in revolutionizing the event management landscape!</p>
    </main>

   <!-- Include footer as needed -->
<%- include('partials/footer') %>
</body>
</html>
